
<hr style="border: 1px solid darkgray">
<div class="row">
  <div class="jumbotron">
    <br>
    <h4>You are now viewing
      <img class="img-rounded img-responsive"
           src="https://chalkable.com/PersonPicture/Read?pictureId=<%= @student["pictureid"] %>&width=112&height=150" style="display: inline-block">
      <small><%= @student["displayname"] %></small>'s work
    </h4>
  </div>
</div>

<h5>Student hash:</h5>
<small><%= @student %></small>